<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>FACTS VIEW</p>

    <p>Fact text: <%= factObject.fact %></p>
    <p>Fact description: <%= factObject.desc %></p>
  </body>
</html>
