<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><a href="/">🏠 Home</a></p>
    <h1><%= title %></h1>
    <p>FACTS VIEW</p>

    <p>Fact text: <%= factText %></p>
    <p>Fact description: <%= factDescription %></p>
  </body>
</html>
